################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DingTalkExternalLogin/DingTalkAuthentication/bin
**/.vs
**/bin
**/obj
**/*.Development.json
/DingTalkExternalLogin/DingTalkExternalLoginWithCustomQRDemo/Properties/serviceDependencies.local.json.user
/DingTalkExternalLogin/DingTalkExternalLoginWithCustomQRDemo/Properties/serviceDependencies.local.json
